<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Pico&Placa Predictor</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
            <h2>Pico & Placa <b>Predictor</b></h2>
        </a>
    </nav>
    <div class="container">
        <div class="row" style="padding-top: 5%;">
            
            <div class="col-sm" style="padding: 3%;">
                <div class="form-group">
                    <label for="vrpInput">Enter your vehicule registration plate (VRP)<small id="vrpHelp" class="form-text text-muted">Example: PBH1234 or PBH123</small></label>
                    <input type="text" onkeyup="this.value = this.value.toUpperCase();"  class="form-control" id="vrpInput" placeholder="XXX####" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your VRP with anyone else.</small>
                </div>
                <div class="row">
                    
                    <div class="col">
                        <div class="form-group">
                            <label for="datepicker">Enter a day</label>
                            <input type="date" class="form-control" id="datepicker" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="timepicker">Enter a time</label>
                            <input type="time" class="form-control" id="timepicker" aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>
                <button id="btnAuto" onclick="generatePlaca();" class="btn btn-primary">Autocomplete VRP</button>
                <button onclick="validatePP();" class="btn btn-primary">Check</button>
            </div>
            <div class="col-sm" style="padding: 3%;">
                <div class="card" style="height: 100%;">
                    <img src="img/red_car.svg" id="imgStatus" style="padding-top:5% ; width: 30%; align-self: center;" class="card-img-top"
                        id="imgPlaca">

                    <div class="card-body">
                        <hr>
                        <div>
                            <h4>Status: </h4>
                            <p id="statusV"> </p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../model/VRP.js"></script>
    <script src="js/index.js"></script>
</body>

</html>